/* Map CSS*/

#map{
    width:100%;
}

.leaflet-container{
    height:40em;
}

/* Main content */

.main{
}

.top{
    background-color: black;
    color: antiquewhite;
}



/* Menu */

.menu{
    padding:1px;
}

/* Body */

body{
    background-color: #f8f8f8;
    color:#e7e7e7;
}


