/* Map CSS*/

#map{
    width:100%;
}

.leaflet-container{
    height:50em;
}

/* Main content */

.main{
}


/* Menu */

.menu{
    padding:1px;
}

.menuNav{
    margin-left:100px;
}

/* Body */

body{
    background-color: #f8f8f8;
    color:#e7e7e7;
}


/* For different devices */

@media only screen and (max-height: 667px) {
    .leaflet-container{
        height:50em;
    }
}

@media only screen and (min-height: 736px) {
    .leaflet-container{
        height:55em;
    }
}

@media only screen and (min-height: 640px) {
    .leaflet-container{
        height:47em;
    }
}

@media only screen and (min-height: 568px) {
    .leaflet-container{
        height:41em;
    }
}

@media only screen and (min-width: 992px) {
    .leaflet-container{
        height:58em;
    }
}

@media only screen and (min-width: 1200px) {
    .leaflet-container{
        height:58em;
    }
}

